
html
	head
		link(rel='stylesheet', href='css/bootstrap.min.css')

	body
		.container
			br
			h1 Welcome to umich.io!
			br
			h2 Academics : umich.io/academics/v0/
			.well
				
				h3.endpt 
					a(href="/academics/v0/subjects") /subjects
				.info list of subjects
				h3.endpt 
					a(href="/academics/v0/EECS/courses") /:subj_id/courses
				.info all courses in a subject
				h3.endpt 
					a(href="/academics/v0/EECS/281/sections") /:subj_id/:course_id/sections
				.info all sections for a class
				h3.endpt
					a(href="/academics/v0/10782/info") /:class_id/info
				.info section info from an id

			h3 Contributors
			.well
				
				ul
					li 
						a(href="http://github.com/mhseiden") Max
					li
						a(href="http://github.com/ottosipe") Otto

			.well
				span Please note that these services are under active development, if you notice any problems please let us know by submitting an issue on our 
				a(href="http://github.com/michiganhackers/umich-apis") github page
				span . Thanks!